@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #002c7b;
  --secondary-color: #eb9c05;
}
.slick-next:before,
.slick-prev:before {
  color: var(--secondary-color) !important;
}
